<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Real Madri Schedules</title>
    <link rel="sortcut icon" href="../static/hallOfFame/images/realmadri-logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/hallOfFame/css/style.css">

    <!-- Font Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="../index.html"><img class="img-logo" src="../static/hallOfFame/images/reallogo3.png" alt=""></a>
            </div>
            <div class="menu-itens">
                <nav>
                    <ul>
                        <a href="../index.html"><li>Home</li></a>
                        <a href="team.html"><li>Team</li></a>
                        <a href="schedules.html"><li>Schedules</li></a>
                        <a href="hallOfFame.html"><li>Hall of Fame</li></a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="first-information">
                <div class="block-left">
                    <div class="show">
                        <div class="show-box">
                            <div class="show-arrow"></div>
                        </div>
                        <div class="show-text">
                            <h2>Roberto Carlos (April 10, 1973)</h2>
                            <p> - Click to see more...</p>
                        </div>
                    </div>
                    <div class="block-info-box">
                        <div class="div-img-highlights">
                            <img class="img-highlight" src="../static/hallOfFame/images/200px-Roberto_Carlos_2011.jpg" alt=""> 
                        </div>
                        <h1>Robertos carlos has made your history in the Real Madrid. 
                            The team won the:<br/>
                            <ul class="highlight-list">
                                <li>UEFA Champions from 1997 to 2002</li>
                                <li>International Champions Cup in 1998 and 2002</li>
                                <li>Spanish Super Cup in 1997, 2001 and 2003</li>
                            </ul>  

                        </h1>
                    </div>
                </div>

                <div class="block-left">
                    <div class="show">
                        <div class="show-box">
                            <div class="show-arrow"></div>
                        </div>
                        <div class="show-text">
                            <h2>Cristiano Ronaldo (February 5, 1985)</h2>
                            <p> - Click to see more...</p>
                        </div>
                    </div>
                    <div class="block-info-box">
                        <div class="div-img-highlights">
                            <img class="img-highlight" src="../static/hallOfFame/images/Cristiano_Ronaldo_2018.jpg" alt=""> 
                        </div>
                        <h1>One of the best soccer players in the world, 
                            Cristiano has been in a lot of games, like: <br>
                            <ul class="highlight-list">
                                <li>La-Liga in 2011-12 and 2016-17</li>
                                <li>UEFA Champions from 2013 to 2018</li>
                                <li>Club World Cup in 2014, 2016 and 2017</li>
                            </ul>  
                        </h1>
                    </div>
                </div>

                <div class="block-left">
                    <div class="show">
                        <div class="show-box">
                            <div class="show-arrow"></div>
                        </div>
                        <div class="show-text">
                            <h2>Alfredo Di Stéfano (July 4, 1926)</h2>
                            <p> - Click to see more...</p>
                        </div>
                    </div>
                    <div class="block-info-box">
                        <div class="div-img-highlights">
                            <img class="img-highlight" src="../static/hallOfFame/images/250px-Distefano_eg_1958.jpg" alt=""> 
                        </div>
                        <h1>
                            Soccer coach and soccer player, he was present from early on the team,
                            considered one of the best and fastest player. In his career, he played: <br>
                            <ul class="highlight-list">
                                <li>Internation Cup in 1960</li>
                                <li>UEFA Champions from 1955 to 1960</li>
                                <li>Spanish Champion from 1953 to 1958, and from 1960 to 1964</li>
                            </ul>  

                         </h1>
                    </div>
                </div>
                
                

            
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            Made by Davi Mattos
        </div>
    </footer>

    <script src="../static/hallOfFame/js/script.js"></script>
</body>
</html>