<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Real Madri Schedules</title>
    <link rel="sortcut icon" href="../static/schedules/images/realmadri-logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/schedules/css/style.css">

    <!-- Font Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="../index.html"><img class="img-logo" src="../static/index/images/reallogo3.png" alt=""></a>
            </div>
            <div class="menu-itens">
                <nav>
                    <ul>
                        <a href="../index.html"><li>Home</li></a>
                        <a href="team.html"><li>Team</li></a>
                        <a href="schedules.html"><li>Schedules</li></a>
                        <a href="hallOfFame.html"><li>Hall of Fame</li></a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section id="table-section">
        <div class="container column">
            <div class="title">
                <h1>Look down when the next games will take place</h1>
            </div>
            <div class="div-table">
                <table>
                    <thead>
                        <tr>
                            <th>Game</th>
                            <th>Date</th>
                            <th>Schedule</th>
                            <th>Champion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Real Madrid X Eintracht</td>
                            <td>10 August</td>
                            <td>16:00 h</td>
                            <td>UEFA Champions</td>
                        </tr>
                        <tr>
                            <td>Real Madrid X Almería</td>
                            <td>14 August</td>
                            <td>17:00 h</td>
                            <td>La Liga</td>
                        </tr>
                        <tr>
                            <td>Real Madrid X Celta de Vigo</td>
                            <td>20 August</td>
                            <td>17:00 h</td>
                            <td>La Liga</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            Made by Davi Mattos
        </div>
    </footer>
</body>
</html>