<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Real Madri Schedules</title>
    <link rel="sortcut icon" href="../static/team/images/realmadri-logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/team/css/style.css">

    <!-- Font Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="index.html"><img class="img-logo" src="../static/team/images/reallogo3.png" alt=""></a>
            </div>
            <div class="menu-itens">
                <nav>
                    <ul>
                        <a href="../index.html"><li>Home</li></a>
                        <a href="team.html"><li>Team</li></a>
                        <a href="schedules.html"><li>Schedules</li></a>
                        <a href=""><li>Hall of Fame</li></a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section>
        <div class="container column">
            <article class="players-division">
                <div class="title">
                    <h1>Forwards</h1>
                </div>
            </article>
            <article class="players-division">
                <div class="title">
                    <h1>Midfielder</h1>
                </div>
            </article>
            <article class="players-division">
                <div class="title">
                    <h1>Defender</h1>
                </div>
            </article>
            <article class="players-division">
                <div class="title">
                    <h1>Goalkeeper</h1>
                </div>
            </article>
        </div>
    </section>

    <footer>
        <div class="container">
            Made by Davi Mattos
        </div>
    </footer>
</body>
</html>