<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Real Madri Schedules</title>
    <link rel="sortcut icon" href="../static/team/images/realmadri-logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/team/css/style.css">

    <!-- Font Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="../index.html"><img class="img-logo" src="../static/team/images/reallogo3.png" alt=""></a>
            </div>
            <div class="menu-itens">
                <nav>
                    <ul>
                        <a href="../index.html"><li>Home</li></a>
                        <a href="team.html"><li>Team</li></a>
                        <a href="schedules.html"><li>Schedules</li></a>
                        <a href="hallOfFame.html"><li>Hall of Fame</li></a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section>
        <div class="container column">
            <article class="players-division">
                <div class="title">
                    <h1>Forwards</h1>
                </div>
                <div class="widget-players">
                    <div class="widget-players-body">
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/forwards/NOEL.jpg" alt="">
                            <div class="name-player">
                                Noel López
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/forwards/LATASA-_AV17133Thumb.jpg" alt="">
                            <div class="name-player">
                                Latasa
                            </div>
                        </div>
                        
                    </div>
                </div>
            </article>
            <article class="players-division">
                <div class="title">
                    <h1>Midfielder</h1>
                </div>
                <div class="widget-players">
                    <div class="widget-players-body">
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/midfielder/ALVARO_LEIVAThumb.jpg" alt="">
                            <div class="name-player">
                                Alvaro Leiva
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/midfielder/ALVARO_MARTINThumb.jpg" alt="">
                            <div class="name-player">
                                Alvaro Martin
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/midfielder/ANTONIO_BLANCO2.jpg" alt="">
                            <div class="name-player">
                                Antonio Blanco
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/midfielder/ARANDAThumb.jpg" alt="">
                            <div class="name-player">
                                Aranda
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/midfielder/ARRIBASThumb.jpg" alt="">
                            <div class="name-player">
                                Arribas
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/midfielder/DOTORThumb.jpg" alt="">
                            <div class="name-player">
                                Dotor
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/midfielder/MARVIN-_AV12015Thumb.jpg" alt="">
                            <div class="name-player">
                                Marvin
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/midfielder/PETERThumb.jpg" alt="">
                            <div class="name-player">
                                Peter
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/midfielder/THEOThumb.jpg" alt="">
                            <div class="name-player">
                                Theo
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="players-division">
                <div class="title">
                    <h1>Defender</h1>
                </div>
                <div class="widget-players">
                    <div class="widget-players-body">
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/defender/ALCAZARThumb.jpg" alt="">
                            <div class="name-player">
                                Alcazar
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/defender/CARRILLOThumb.jpg" alt="">
                            <div class="name-player">
                                Carrillo
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/defender/PABLO_RAMONThumb.jpg" alt="">
                            <div class="name-player">
                                Pablo Ramont
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/defender/RAFA_MARIN2Thumb.jpg" alt="">
                            <div class="name-player">
                                Rafa Marin
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/defender/VINICIUS-TOBIAS_MJ19066Thumb.jpg" alt="">
                            <div class="name-player">
                                Vinicius Tobias
                            </div>
                        </div>
                        
                    </div>
                </div>
            </article>
            <article class="players-division">
                <div class="title">
                    <h1>Goalkeeper</h1>
                </div>
                <div class="widget-players">
                    <div class="widget-players-body">
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/goalkeeper/LUCAS_CAÑIZARESThumb.jpg" alt="">
                            <div class="name-player">
                                Lucas Cañizar
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/goalkeeper/LUIS-LOPEZ-_GHOST2Thumb.jpg" alt="">
                            <div class="name-player">
                                Luis Lopez
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/goalkeeper/MARIO_DE_LUISThumb.jpg" alt="">
                            <div class="name-player">
                                Mario de Luist
                            </div>
                        </div>
                        <div class="box-player">
                            <img class="img-player" src="../static/team/images/goalkeeper/TONI-FUIDIAS_AV19863Thumb.jpg" alt="">
                            <div class="name-player">
                                Toni Fuidias
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </article>
        </div>
    </section>

    <footer>
        <div class="container">
            Made by Davi Mattos
        </div>
    </footer>
</body>
</html>