@font-face {
    font-family: RealMadrid;
    src: url('../font/RealMadrid1920Regular.ttf');
}

/*  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, 
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #1f1f20;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)) ,url('../images/real-madrid-5.jpg');
    
    background-clip: cover;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
}

header {
    display: flex;
    justify-content: center;
    height: 100px;
    margin-bottom: 60px;
}

section {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.logo {
    padding: 15px 20px
}
.img-logo {
    height: 80px;
    opacity: 0.7;
    border-right: 1px solid rgb(179, 179, 179);
    padding-right: 20px;
    position: relative;
    overflow: hidden;
}

ul {
    list-style-type: none;
    display: flex;
    
}

.menu-itens {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    font-family: RealMadrid;
    color: rgb(207, 206, 206);
    font-size: 30px;
    position: relative;
    overflow: hidden;
}

nav li,
.img-logo {
    transition: all 0.1s linear;
}

nav a {
    text-decoration: none;
    margin-right: 25px;
}

nav li:hover {
    transform: 
        perspective(100px) 
        translate(0px, -5px);
    
    color: rgb(240, 240, 240);
    transition: all 0.1s linear;

    -webkit-box-reflect: below 0 
    linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}

.img-logo:hover {
    transition: all 0.2s linear;
    opacity: 1;
}

.column {
    flex-direction: column;
}

/*  */
section {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 35px;

    margin-bottom: 30px;
}

.title h1 {
    font-family: RealMadrid;
    color: rgb(207, 206, 206);
    font-size: 30px;
    letter-spacing: 2px;

    width: max-content;
    height: max-content;
    padding: 10px 20px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-left: 80px;

    background-color: rgba(220, 220, 220, 0.1);
    backdrop-filter: blur(2px);
    position: relative;
}
.title h1::before {
    content: '';
    z-index: 2;
    position: absolute;
    border-style: solid;
    top: 0;
    left: -56px;

    border-width: 28px;
    border-color: 
    rgba(220, 220, 220, 0.1) rgba(220, 220, 220, 0.1)
    rgba(220, 220, 220, 0.1) transparent;
}

.widget-players {
    padding: 20px;
}

.widget-players-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.box-player {
    width: 260px;
    height: 380px;
    background-color: rgb(245, 245, 245);
    
    border: 1px solid rgba(220, 220, 220, 0.3);
    border-radius: 12px;

    margin: 0px 10px 20px 10px;

}

.img-player {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}
.name-player {
    width: 100%;
    height: 60px;
    
    font-family: RealMadrid;
    font-size: 35px;
    color: #222;

    display: flex;
    justify-content: center;
    align-items: center;
}

.players-division {
    margin-bottom: 30px;
}

/*  */

footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 4em;
    background-color: #1f1f20;
    color: #5c5c5c;
    font-size: 15px;

    display: flex;
    align-items: center;

    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}